<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEBOMATIC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>sparepart</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'></link>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'></link>


    <style>
        .navbar-fixed-top
        {
            height: fit-content;
            width: fit-content;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../static/logo1.png" width="481" height="120" alt="">
    </a>
    <a>
      lol
    </a>
</nav>

</body>
</html>